
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: "Oswald", sans-serif;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}
.container {
    width: 90%;
    margin: 0 auto;
}
.header__container input{
    height: 40px;
    border-radius: 10px;
}
.header__container {
    width: 65%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header__container a{
    color: white;
    text-decoration: none;
    /* bỏ gạch chân của chữ */
    margin-left: 5px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}
.header__container a.active, 
.header__container a:hover {
    color: #e62b4a;
    
}
.header__container .logo {
    font-size: 24px;
    font-weight: 500;
    color: #e62b4a;
}

/* Start BANNER */
.banner {
    background-image: url(./image-video/home_slider.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    
    
}
.banner h2 {
    font-size: 20px;
    padding-top: 60px;
}
.banner h3 {
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
}
.banner button{
    color: white;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    background: rgb(190, 34, 34);
    transition: 0.3s;
}
.banner i {
    font-size: 50px;
    margin-top: 20px;
    /* color: palevioletred; */
    animation-name: animateArrow;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.banner button:hover {
    background: rgb(218, 213, 213);
   
}

/* START NUMBERS */
.numbers {
    background: black;
}
.numbers__list {
    display: flex;
    height: 200px;
    
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.numbers__item h3 {
    text-align: center;
    font-size: 40px;
}

/* Start Carousel */
.carousel {
    padding: 80px 0;
    background: #888888;
    color: white;
    text-align: center;
}
.carousel p {
    color: #e62b4a;
    font-size: 14px;
    font-weight: 300;
}
.carousel h2 {
    font-size: 40px;
    font-weight: 400;
}
.carousel h3 {
    font-size: 16px;
    color: #e62b4a;
    font-weight: 700;
    margin-top: 20px;
}
.carousel__item {
    padding: 20px;
}
.item__container {
    background: white;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    font-family: "Oswald", sans-serif;
}
.item__container i {
    color: #e62b4a;
    font-size: 55px;
}

.item__container::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 0%;
    right: 0;
    top: 0;
    background: red;
    transition: 0.3s;
}

.item__container:hover::before {
    height: 100%;
 
}
/* chỉnh màu dots Carousel */
.slick-dots li.slick-active button:before {
    color: #e62b4a;
}
.slick-dots li button:before {
    color: white;
    font-size: 15px;
    opacity: 1;
}
.slick-dots {
    bottom: -40px;
}

@keyframes animateArrow {
    from{
        color: white;
      
        transform: translateY(0);
    }
    to{
        color: rgb(167, 159, 159);
        
        transform: translateY(80px);
        
    }
}

/* Start Blogs */
.blogs {
    
    padding: 80px 0;
}
.text_tittle {
    text-align: center;
    padding-bottom: 30px;
}
.text_tittle p {
    color: #888888;
    font-weight: 400;
    font-size: 14px;
}
.text_tittle h2 {
    font-size: 40px;
    font-weight: 400;
}
.text_tittle h3 {
    font-size: 16px;
    color: #888888;
    font-weight: 800;
    margin-top: 20px;
}

.blogs__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:  grayscale(50%) contrast(50%);
}
/* grid layout */
.blogs__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.blogs__item {
    border: none;
    position: relative;
}
.blogs__item.item-1 {
    grid-column: 1/3;
    grid-row: 1/3;
}
.blogs__item.item-2 {
    grid-column: 3/5;
    
    grid-row: 3/5;
}
.item__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(187, 172, 172, 0.8);
    opacity: 0;
   
    transition: 0.3s;
}
.blogs__item:hover .item__overlay {
    opacity: 1;
    cursor: pointer;
}
.item__search {
    width: 35px;
    height: 35px;
    background: white;
    position: absolute;
    top: 80px;
    transition: 0.3s;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.blogs__item:hover .item__search {
    top: 30px;
}
.item__title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}
.item__title p {
    color: #D0C7C8;
}

/* Start Experiences */
.experiences {
    background-image: url(./image-video/bussiness_img_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    text-align: center;
    color: white;
}
.exp_title p {
    color: #90090a;
    font-size: 14px;
    font-weight: 300;
}
.exp_title h2 {
    font-size: 40px;
    font-weight: 400;
}
.exp_title h3 {
    font-size: 16px;
    color: #888888;
    font-weight: 800;
    margin-top: 20px;
}

/* Start Contact */
.contact{
    padding: 80px 0;
    text-align: center;
}
.contact_title {
    padding: 20px;
}
.contact_title h2 {
    font-size: 50px;
    font-weight: 400;
}
.contact_title p {
    font-size: 16px;
    color: #888888;
    font-weight: 800;
    margin-top: 20px;
}
.contact .container{
    display: flex;
    height: 400px;
}
.contact__map, .contact__form {
    width: 50%;
    height: 100%;
}
.contact__map iframe {
    width: 100%;
    height: 100%;
}
.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.contact__form * {
    width: 100%;
    padding: 20px;
    
}
.contact__form textarea {
    flex-grow: 10;
    margin-bottom: 10px;
}
.contact__form input {
    margin-bottom: 30px;
}
.contact__form button {
    padding: 20px 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
.contact__form button:hover {
    background: rgb(194, 40, 40);
   
}
/* Start Footer */
footer {
    width: 100%;
    height: 30vh;
    background-color: black;
    color: white;
}
.footer__container {
    width: 75%;
   margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    
}
.footer__icon a{
    background: #888888;
    display: inline-block;
    line-height: 56px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.footer__icon a:hover {
    background: rgb(194, 40, 40);
}
html{
    scroll-behavior: smooth;
}
.cd-top {
   width: 60px;
   height: 60px;
   line-height: 60px;
   border-radius: 4px;
   text-align: center;
   
   font-weight: bold;
   color: #fff;
   position: fixed;
   bottom: 20px;
   right: 20px;
   font-size: 20px;
   background: url(./back-to-top-blogger.JPG) no-repeat center 50%;
background-size: cover;
}
.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s;
}

.boxsp {
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #EEE solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.boxsp p{
    color: #D0C7C8;
}
.boxsp a{
    color: #e62b4a;
}

.boxsp  .img {
    min-height: 230px;
    text-align: center;
}

.img img {
    height: 220px;
}
